* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  row-gap: 100px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-image: cover no-repeat;
}
.bill-input {
  width: 336px;
  height: 34px;
}
.mother {
  width: 400px;
  height: 335px;
  background-color: #ffff;
  align-items: center;
  display: flex;
  row-gap: 10px;
  padding: 26px 16px;
  border-radius: 10px;
  flex-direction: column;
}
.inside {
  width: 368px;
  height: 303px;
  background-color: #03958a;
  border-radius: 10px;
  padding-left: 20px;
  padding-top: 20px;
}
.reset-button {
  width: 336px;
  height: 30px;
}
.select-tip {
  width: 336px;
  height: 107px;
}
p {
  font-size: 18px;
  color: #01464b;
  margin-bottom: 4px;
}
.tips {
  gap: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
}
.tips button {
  width: 70px;
  height: 35px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #01464b;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}
#reset-button {
  width: 336px;
  height: 30px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.2s ease;
}
